/***** Landing page sub titles *****/
h2[data-scroll],
.team-member[data-scroll] {
  transition: all 1.2s;
}

h2[data-scroll="in"],
.team-member[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

h2[data-scroll="out"],
.team-member[data-scroll="out"] {
  opacity: 0;
  transform: translateY(100px);
}

/***** Landing page service blocks *****/ 
.service-left[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

.service-left[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-100px);
}

.service-right[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

.service-right[data-scroll="out"] {
  opacity: 0;
  transform: translateX(100px);
}

/***** About page animations *****/ 
.about-team[data-scroll],
.about-testimonials[data-scroll] {
  transition: all 1s;
}

.about-team[data-scroll="in"],
.about-testimonials[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0);
}

.about-team[data-scroll="out"],
.about-testimonials[data-scroll="out"] {
  opacity: 1;
  transform: translateY(150px);
}