header {
  position: fixed;
  width: 100%;
  display: block;
  background: $navy;
  z-index: 2;

  .container {
    display: flex;
    flex-direction: column;

    nav {
      height: 60px;
      background-color: $navy;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        max-width: 175px;

        a {
          width: 100%;
          text-decoration: none;
        }
  
        img {
          display: block;
          margin: 0 auto;
          width: 175px;
        }
      }

      .nav-links {
        height: inherit;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        ul {
          display: flex;

          li {

            &.drop-down {
              &:hover {
                .submenu {
                  display: flex;
                }
              }
            }

            a {
              text-decoration: none;
              display: block;
              height: 60px;
              width: 130px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0.7rem;
              letter-spacing: 1px;
              color: $lightGray;
              background: $navy;
              border: 2px solid transparent;
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
              transition: all 150ms ease-in-out;
              
              &:hover {
                background: #ffffff;
                color: $navy;
                border: 2px solid $lightBlue;
                border-bottom: none;
              }

              .fa-chevron-down {
                margin-left: 6px;
              }

            }
            ul {
              display: none;
              position: absolute;
              flex-direction: column;
              box-shadow: 0px 8px 7px 0px rgba(0, 0, 0, 0.10);
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;

              li {
                &:last-child a {
                  border-bottom-left-radius: 15px;
                  border-bottom-right-radius: 15px;
                  border-bottom: 2px solid $lightBlue;

                  &:hover {
                    border-bottom: 2px solid $lightBlue;
                  }
                }

                a {
                  border: 2px solid transparent;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                  background-color: #ffffff; 
                  border-left: 2px solid $lightBlue;
                  border-right: 2px solid $lightBlue;
                  border-bottom: none;
                  border-top: none;
                  color: $navy;

                  &:hover {
                    background: #ffffff;
                    color: $navy;
                    border-left: 2px solid $lightBlue;
                    border-right: 2px solid $lightBlue;
                    border-bottom: none;
                    border-top: none;
                    color: $lightBlue;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#mobile-menu {
  display: none;
}

.mobile-top {
  display: none;
}

.nav-hover-blue {
  background: #ffffff !important;
  color: $navy !important;
  border: 2px solid $lightBlue !important; 
  border-bottom: none !important;
}

// Sticky is toggled for desktop nav
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 991px) {
  header {
    display: none;
  }

  .mobile-top {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: $navy;
    height: 50px;
    z-index: 3;

    #nav-icon1 {
      width: 30px;
      height: 30px;
      position: fixed;
      top: 12px;
      right: 12px;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      padding: 5px;
      cursor: pointer;
    }

    #nav-icon1 span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #ffffff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
      top: 0px;
    }

    #nav-icon1 span:nth-child(2) {
      top: 10px;
    }

    #nav-icon1 span:nth-child(3) {
      top: 20px;
    }

    #nav-icon1.open span:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
      top: 10px;
      transform: rotate(-135deg);
    }

    .logo {
      position: fixed;
      width: 150px;

      a {
        width: 100%;
        text-decoration: none;
      }

      img {
        width: 100%;
      }
    }
  }

  #mobile-menu {
    position: fixed;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;

    &.nav-visible {
      opacity: 1;
      height: auto;
    }
    
    .mobile-menu-wrapper {
      background: $navy;
      padding-top: 50px;
      display: block;

      ul {
        background: $navy;
        li {
          a {
            text-decoration: none;
            display: block;
            padding: 1rem;
            color: $lightGray;
            background: $navy;
            font-size: 0.75rem;
            letter-spacing: 1px;
            transition: all 150ms ease;

            &:hover {
              background: #ffffff;
              color: $navy;
            }

            .fa-chevron-down {
              position: relative;
              top: -1px;
              margin-left: 6px;
            }
          }

          ul.submenu {
            display: none;
            flex-direction: column;
            padding-left: 20px;
          }
        }
      }
    }
  }
}