#landing-top {
  padding-top: 60px;

  .container {
      padding: 60px 20px;
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 9rem;
        font-weight: 800;
        text-align: center;
        text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
    }
  }
}