// Colours
$navy: #263546;
$blue: #0d4bf6; 
$lightBlue: #46aff9;
$sandYellow: #ffcb77;
$orange: #fd9140;
$green: #a1d33b;
$darkGray: #333333;
$gray: #6d7c8e;
$mediumGray: #a1aab3;
$lightGray: #c1c8cf;
$offWhite: #f1f0f0;
