// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,800&display=swap');

@import 'reset';
@import 'variables';
@import 'header';

// Landing Page
@import 'landing-top';
@import 'landing-banner';
@import 'landing-services';
@import 'landing-price';
@import 'landing-slider';



* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;

    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Lato', sans-serif;