// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:300,400,800&display=swap');

// Extras
@import 'reset';
@import 'variables';
@import 'animations';

// Header
@import 'header';

// Landing Page
@import 'landing-top';
@import 'landing-banner';
@import 'landing-services';
@import 'landing-price';
@import 'landing-slider';
@import 'landing-contact';

// About page
@import 'main-about';

// Meet the team page
@import 'main-team';

// Testimonials page
@import 'main-reviews';

// Services page
@import 'main-services';

// Web design page
@import 'main-web-design';

// Graphic design page
@import 'main-graphic-design';

// SEO page
@import 'main-seo';

// Online Marketing page
@import 'main-online-marketing';

// Email Marketing page
@import 'main-email-marketing';

// Maintenance Marketing page
@import 'main-maintenance';

// Sub page reusable top section
@import 'sub-page-top';
@import 'sub-page-aside';
@import 'sub-page-subheader';

//footer
@import 'footer';

* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;

    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Lato', sans-serif;