// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:300,400,500,800&display=swap');

@import 'reset';
@import 'variables';
@import 'header';

// Landing Page
@import 'landing-top';



* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Lato', sans-serif;

    .container {
        margin: 0 auto;
        max-width: 1200px;
    }
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Lato', sans-serif;